@{
    ViewBag.Title = "Add Vehicle";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_VehicleFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
