@model VehicleFormModel

@{
    ViewBag.Title = "Edit Vehicle";
}

<h2 class="text-center">@ViewBag.Title</h2>

<partial name="_VehicleFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
