@using CarsShowroom.Infrastructure.Data.Models.Enums
@model VehicleFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" placeholder="Vehicle Model...">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="YearOfProduction "></label>
                <input asp-for="YearOfProduction" class="form-control" placeholder="Year of production...">
                <span asp-validation-for="YearOfProduction" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Condition" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Condition" asp-items="Html.GetEnumSelectList<Condition>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Condition" class="text-danger" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Region "></label>
                <input asp-for="Region" class="form-control" placeholder="Where the vehicle is...">
                <span asp-validation-for="Region" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Gearbox" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Gearbox" asp-items="Html.GetEnumSelectList<Gearbox>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Gearbox" class="text-danger" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Color"></label>
                <input asp-for="Color" class="form-control" placeholder="Color here...">
                <span asp-validation-for="Color" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Mileage "></label>
                <input asp-for="Mileage" class="form-control" placeholder="Vehicle mileage...">
                <span asp-validation-for="Mileage" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Features"></label>
                <textarea asp-for="Features" rows="4" class="form-control" placeholder="ABS, ASP, Air Bag..."></textarea>
                <span asp-validation-for="Features" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Vehicle picture URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Currency must be EUR...">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ManufacturerId">Maker</label>
                <select asp-for="ManufacturerId" class="form-control">
                    @foreach (var maker in Model.Manufacturers)
                    {
                        <option value="@maker.Id">@maker.Name</option>
                    }
                </select>
                <span asp-validation-for="ManufacturerId" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="EngineType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="EngineType" asp-items="Html.GetEnumSelectList<Engine>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="EngineType" class="text-danger" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Displacement"></label>
                <input asp-for="Displacement" class="form-control">
                <span asp-validation-for="Displacement" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Power"></label>
                <input asp-for="Power" class="form-control">
                <span asp-validation-for="Power" class="small text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
